html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.w3-bar .w3-bar-item {
    padding: 10px 20px !important;
}

.dropdown-button {
    padding: 10px 20px !important;
}

a.logo {
    background-color: #54bc44 !important; 
}

.drop-down {
    text-decoration: none; 
}

.hero {
    background-image:
    linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(0,0,0,0.5)),
    url('images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100vw;
    height: 100vh;
}

.hero-content {
    margin-bottom: 5vh;
    padding-left: 5vw; 
    color: #ffffff;
}

.hero-button {
    font-size: 20px; 
    margin-top: 2.5vh; 
}

.hero-button:hover {
    background-color: #54bc44 !important;
}

.modal-header {
    color: #fff!important;
    background-color: #000000!important;
}

.modal-footer {
    color: #fff!important;
    background-color: #000000!important;
}

.about {
    padding-left: 5vw !important;
    padding-right: 5vw !important; 
}

img.gallery {
    width: 100%;
    height: 80vh; 
}

.w3-tag {
    height: 15px;
    width: 15px;
    padding: 0;
    margin-top: 6px;
}

.w3-tag, .fa {
    cursor: pointer;
}

.btn-gallery img {
    width: 100%;
    height: 45vh;
}

.hidden {
    overflow: hidden;
    display: none;
    visibility: hidden;
}

.service {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
}

.service-content {
    padding-right: 15px !important;
}

.service-button {
    position:absolute;
    top:-28px;
    right:24px;
    color: #ffffff !important;
    background-color: #54bc44 !important;
}

.close-button {
    color: #54bc44 !important;
}

.team-container {
    margin: auto; 
    width: 20vw;
    height: 20vw; 
    position: relative;
    overflow: hidden; 
}

img.team-image {
    object-fit: contain;
    height: 30vw;
    width: auto; 
    overflow: hidden;
}

.faq {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
}

.ui-widget-content {
    border-right: #f1f1f1 !important;
    border-left: #f1f1f1 !important;
    background: #333333 !important;
    color: #ffffff !important;
}

.ui-widget {
    font-family: Verdana,sans-serif !important;
    font-size: 15px !important;
    line-height: 1.5 !important;
}

.ui-tabs-vertical {
    width: 100% !important;
}

.ui-widget-header {
    border: 0px !important;
    background: #333333 !important;
    color: #ffffff;
    font-weight: bold;
}
.ui-tabs .ui-tabs-nav {
    margin-top: 20px !important;
    padding: 0 !important;
}
.ui-tabs-vertical { width: 20vw; }
.ui-tabs-vertical .ui-tabs-nav { padding: 0 !important; float: left; width: 20vw; }
.ui-tabs-vertical .ui-tabs-nav li { 
    clear: left; 
    width: 100%; 
    border-bottom-width: 1px !important; 
    border-right-width: 0 !important; 
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin: 0 !important; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: .1em; 
    border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 60vw;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border-bottom: 1px solid #f1f1f1 !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    background: #333333 !important;
    font-weight: normal;
    color: #ffffff !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #54bc44 !important;
    background: #54bc44 !important;
    font-weight: normal;
    color: #ffffff;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #ffffff !important;
    text-decoration: none;
}

.question {
    font-size: 20px !important; 
    cursor: pointer;
}

.answer{
    display:none;
  }

.contact {
    padding-left: 5vw !important;
    padding-right: 5vw !important; 
}

.contact-bar {
    border-bottom: 6px solid #54bc44 !important;
}

.contact-text-teal {
    color: #54bc44 !important;
}

.error {
    color: red !important; 
}

.google-map {
    padding-bottom: 40%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.footer {
    background-color: #000000 !important; 
    color: #ffffff !important; 
}

.top-button {
    color: #ffffff !important;
    background-color: #54bc44 !important;
}